fastapi
uvicorn
python-multipart
pydantic[email]
requests
librosa
numpy
soundfile
sqlalchemy
psycopg2-binary
aiosqlite
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-dotenv
PyPDF2
python-docx
pandas
openpyxl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
yt-dlp
pgvector
asyncpg
demucs
torch
torchaudio
lxml
beautifulsoup4
